# dependencies
node_modules

# builds
dist
build
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# editors
.vscode
.DS_Store

# vite
apps/frontend/.vite

# misc
coverage
